html {
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background: #000;
  color: #fff;
  font-family: "Lucida Console", Monaco, monospace;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: solid 2px;
}

  body {
    background-image: url(Debian.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
  }

  .content {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #282a36;
    padding: 45px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
  }

  .browser-bar {
    background: #242630;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
    text-align: center;
  }

  .title {
    margin-left: 30px;
  }

  .button {
    display: inline-block;
    float: right;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    cursor: pointer;
  }

  .close {
    background: #fc635d;
  }

  .min {
    background: #fdbc40;
  }

  .max {
    background: #34c84a;
  }
  @media screen and (max-width: 610px) {
    body {
      font-size: 20px;
    }
.content {
    width: 300px;
    height: 400px;
  }
  }